p
{
	font-size: 18px;
	line-height: 1.4em;
}

.text-white
{
	color: #FFF;
}

.text-black
{
	color: #000;
}

.text-justify
{
	text-align: justify;
}

.text-center
{
	text-align: center;
}

.jumbotron
{
  color: #FFF; 
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  text-shadow: 3px 3px 5px #000000;
  position: relative;
  top: 200px;
}

.presentation
{
	max-width:  900px;
	margin: auto;
}