.section1
{
  width: 100%;
  height: 560px;
  overflow: hidden;
  /*background-color: #FEE37C;*/
  background-image: url(img/midi.jpg); 
  min-height: 100%;
}

.section2
{
	width: 100%;
	height: 560px;
	overflow: hidden;
	background-color: lightblue;
}

.section3
{
	width: 100%;
	height: 560px;
	overflow: hidden;
	background-color: pink;
}

.section4
{
	width: 100%;
	height: 560px;
	overflow: hidden;
	background-color: #88192F;
}


